/* =======================tp-header================== */

/* header top bar section */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    overflow-x: hidden;
    line-height: 1.3;
    color: #6e7a7a;
}

/* =======================tp-header================== */

.tp_left {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.tp_icon {
    background-color: rgb(30 55 55 / 4%);
    padding: 8px 16px;
    color: #1e3737;
}

.tp_header-area {
    background-color: #f2f7f7;
}

.tp_left span {
    font-size: 14px;
    align-items: center;
    display: flex;
    color: gray;
}

.tp_main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 2px 50px; */
}

.map_mail {
    padding: 0px 10px;
}

.map i {
    color: #1e3737;
}

a.mail_loction {
    text-decoration: none;
    font-size: 15px;
    color: gray;
}

/* ============================= Navebar_Start ============================== */
.tp_navbar {
    padding: 30px 0px;
}

.nav-logo {
    /* margin: 8px 50px; */
}

.nav_icon i {
    color: #1e3737;
}

ul.ul_list {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    list-style: none;
    font-size: 17px;
    font-weight: 700;
    color: grey;
    padding-left: 0px;
    margin-bottom: 0px;
}


.nav_icon i {
    padding-right: 20px;
    font-size: 22px;
}

button.btn-donate {
    height: 60px;
    width: 180px;
    background: #fe7f4c;
    border: 0px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.main_icon {
    display: flex;
    justify-content: flex-end;
}

.row.align-item-center {
    display: flex;
    align-items: center;
}

ul.ul_list li {
    padding-left: 3rem;
}

.nav_icon {
    display: flex;
    align-items: center;
}

/* ============================= Navebar_End ================================ */
/* ============================== breadcrumb-area-start ========================== */

.breadcrumb_bg.background {
    background-image: url(./Assets/breadcrumb__/bread_1.jpg);
    padding: 145px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    position: relative;
}

.background {
    background-color: #052725;
    position: relative;
    overflow: hidden;
}

.shap_1 {
    position: absolute;
    bottom: -35px;
    left: -2px;
    z-index: 5;
}

.shap_2 {
    position: absolute;
    bottom: 20px;
    left: 0px;
    z-index: 5;
}

.bread__title-sub {
    color: #fff;
    margin: 0px 64px;
}

p.bread-subtitle_1 {
    background-color: #9595955c;
    display: inline-block;
    padding: 10px 16px;
}

h4.bread-title_1 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0px;
}

/* ============================== breadcrumb-area-End ========================== */

/* ================================ About-Area-Start ================================= */
.container.event {
    max-width: 1200px;
}

.about-area {
    padding: 115px 0;
}

.about-1 {
    /* margin-top: -27px; */
}

.about-2 {
    position: absolute;
}

.about-2 img {
    position: absolute;
    bottom: -84px;
    left: 90px;
}

.about-thumb_border {
    position: absolute;
    right: 22px;
    height: 355px;
    width: 290px;
    border: 4px solid #fe7f4c;
    z-index: -1;
    bottom: 100px;
}

.about-thumb_border::after {
    position: absolute;
    height: 62px;
    width: 18px;
    background-color: #07847f;
    content: "";
    bottom: -187px;
    left: -117px;
}

.event-border {
    position: relative;
}

.sec-subtitle {
    font-size: 16px;
    font-weight: 700;
    color: #fe7f4c;
    margin-bottom: 10px;
}

.sec-title h4 {
    color: #1e3737;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 30px;
}

.event-sec {
    padding-left: 85px;
}


.hed-title span {
    color: #1e3737;
    font-size: 18px;
    font-weight: 800;
}

.hed-title p {
    margin: 10px 0px;
    line-height: 27px;
}

.sec-text p {
    padding-bottom: 30px;
    line-height: 30px;
}

.d-flex {
    justify-content: space-around;
}

.about__prograss {
    width: 78%;
}

.tp-about-prograss {
    padding: 42px 0px;
    position: relative;
    padding-bottom: 3.4rem;
}


.tp-about-prograss h4 {
    font-weight: 800;
    font-size: 18px;
    padding-bottom: 2px;
    color: #1e3737;
}

span.prograss-count {
    position: absolute;
    right: 0;
    font-size: 14px;
    font-weight: 800;
    color: #1e3737;
    top: 38px;
}

.tp-about-prograss.prograss {
    height: 9px;
    background-color: #f2f7f7;
    border-radius: 0;
    overflow: visible;
}

.prograss {
    height: 9px;
    background-color: #f2f7f7;
    border-radius: 0;
    overflow: visible;
}

.prograss-bar {
    height: 8px;
    width: 82%;
    visibility: visible;
    background-color: #07847f;
}

.event-title p {
    font-size: 16px;
    margin-bottom: 7px;
}

.event-title a {
    text-decoration: none;
    color: #1e3737;
    font-size: 20px;
    font-weight: 800;
}

.event-sec_title h4 {
    color: #1e3737;
    font-size: 20px;
    font-weight: 800;
}

.event-sec_title p {
    font-size: 14px;
    margin-bottom: 7px;
}

.contact__us {
    display: flex;
    align-items: center;
}

.event-sec_tit {
    display: flex;
    align-items: center;
}

.event-title {
    padding-right: 60px;
}

.event-sec-logo img {
    padding-right: 25px;
}

/* =============================== About-Area-End ================================= */
.brand_area {
    padding-top: 60px;
    padding-bottom: 70px;
    border-top: 1px solid #edefef;
}

.shape_brand {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_shap-1 {
    filter: grayscale(100%);
    opacity: 0.5;
}

.logo_shap-1:hover {
    filter: none;
    opacity: 1;
    transition: 0.5s;
}

/* =============================== brand-area-start ================================= */
/* ================================================ cta-area-start ================================================ */


.cta_background.p-relative {
    background-image: url(./Assets/cta-area/cta-bg-1.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 115px;
    padding-top: 115px;
    background-color: #022b29;
    background-attachment: fixed;
    overflow: hidden;
}

.tp-cta-2__shape-1 {
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 1;
}

.tp-cta-2__shape-2 {
    position: absolute;
    right: -26px;
    bottom: -1px;
}

.cta__area {
    padding-bottom: 0px;
}

span.subtitle-cta {
    text-transform: uppercase;
}

.cta-subtitle {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 10px;
}

h4.title-cta {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    padding-top: 40px;
    padding-bottom: 60px;
}

.btn-cta {
    height: 55px;
    width: 220px;
    background: #ff7d49;
    color: #fff;
    border: 0px;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.btn-cta:hover {
    background-color: #07847f;
    transform: scale(0.9);
    transition: 0.5s;
}

/* ======================================= cta-area-End ============================================== */
/* ================================= testimonial-area-start ================================== */

.testimonial-bg {
    background-image: url(./Assets/testimonial/testimonial-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 115px 0px;
}

.testi_subtit p {
    color: #fe7f4c;
    font-size: 16px;
    font-weight: 700;
}

.testi-text p {
    padding-bottom: 10px;
    line-height: 30px;
}

.testi_subtit h4 {
    color: #1e3737;
    font-size: 50px;
    font-weight: 800;
    /* padding-bottom: 20px;
padding-bottom: 80px; */
    padding-bottom: 15px;
}

.card-shape {
    flex: 0 0 33.3%;
    height: 300px;
    padding: 1rem;
    position: relative;
}

.testi-card {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 80px;
}

.card-inner {
    /* background: orange;
    height: 100%; */
    background: #ffffff;
    height: 113%;
    width: 106%;
    padding: 43px 24px;
    overflow: hidden;
}

.card-inner::after {
    content: "";
    position: absolute;
    bottom: -68px;
    right: 3px;
    height: 50px;
    width: 40px;
    background-color: #ffffff;
    clip-path: polygon(100% 100%, 0 0, 100% 0);
}

.card-inner_2 {
    background-color: #1e3737;
    height: 113%;
    width: 106%;
    padding: 43px 24px;
    overflow: hidden;
    color: #fff;
}

.card-inner_2::after {
    content: "";
    position: absolute;
    bottom: -68px;
    right: 3px;
    height: 50px;
    width: 40px;
    background-color: #1e3737;
    clip-path: polygon(100% 100%, 0 0, 100% 0);
}

@media screen and (max-width:1199px) {
    .card-shape {
        flex: 0 0 50%;
    }
}

@media screen and (max-width:767px) {
    .card-shape {
        flex: 0 0 100%;
    }
}

.inner-text p {
    /* padding: 10px 0px; */
    line-height: 30px;
}

.inner-star {
    /* padding: 23px; */
    color: #fe7f4c;
    /* padding-bottom: 19px; */
}

.card-logo.testi-card_14 {
    position: absolute;
    top: -18px;
    right: 140px;
}

.card-logo img {
    position: absolute;
    /* top: -32px; */
    /* right: 120px; */
    right: 4px;
    bottom: 5px;
}

.testi-card_14 {
    height: 66px;
    width: 66px;
    background-color: white;
    border-radius: 50px;
    border: 1px #fe7f4c solid;
}

.quates {
    position: absolute;
    right: 25px;
    top: 30px;
    height: 27px;
    width: 27px;
    border-radius: 50px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.test-ttitle h4 {
    font-size: 20px;
    font-weight: 800;
    color: #1e3737;
}

.test-ttitle p {
    font-size: 14px;
    font-weight: 400;
}

.test-ttitle {
    padding-top: 10px;
    padding-left: 24px;
}

/* ================================= testimonial-area-end ================================== */

/* ================================= team-area-start =========================================== */

.team_area {
    padding: 80px 0px;
}

.team_sub-tit {
    text-align: center;
}

.team_sub-tit p {
    font-size: 16px;
    font-weight: 700;
    color: #fe7f4c;
}

.team_sub-tit h4 {
    font-size: 50px;
    font-weight: 800;
    color: #1e3737;
    padding-bottom: 30px;
}

.team_tit-sub h4:hover {
    color: #fe7f4c;
    transition: 0.3s;
}

.team-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.team-shap {
    position: relative;
    overflow: hidden;
}

.img_holder {
    display: flex;
    justify-content: center;
    position: relative;
}

.img_holder:before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.961) 20%, rgba(254, 126, 76, 0.633) 100%, rgba(255, 255, 255, 0.957) 100%);
}

.img_holder:after {
    content: "";
    position: absolute;
    top: 41%;
    left: 50%;
    height: 100%;
    width: 98%;
    z-index: -1;
    background: #fff;
    transform: translateX(-50%);
}

.team_tit-sub {
    text-align: center;
}

.team_tit-sub h4 {
    color: #1e3737;
    font-size: 20px;
    font-weight: 800;
}

.team_tit-sub p {
    color: #6e7a7a;
    font-size: 14px;
    font-weight: 600;
}

.team_tit-sub {
    padding-top: 20px;
}

.copy_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;

}

.copy_icon i {
    height: 40px;
    width: 40px;
    background-color: #eef3f2;
    border-radius: 50px;
    padding: 0;
    margin-left: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e3737;
}

.copy_icon i:hover {
    background-color: #fd753f;
    color: #ffffff;
    transition: 0.5s;
}

/* ================================= team-area-end =========================================== */

/* ================================ cta-area-start ===================================== */
/* .cta__area-s{
    padding: 115px 0px;
} */
.cta_area-background {
    background-image: url(./Assets/cta-area/cta-shape-3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 62px 0px;
}

.cta__area-tit h4 {
    font-size: 36px;
    font-weight: 800;
    color: #1e3737;
}

.logo-tit {
    display: flex;
    align-items: center;
}

.cta-s-btn {
    text-align: end;
}

.cta__area-logo {
    padding-right: 40px;
}

/* ================================ cta-area-end ===================================== */
/* =============================================== Footer Start =====================================  */

.footer-bg {
    background-image: url(./Assets/footer/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
    z-index: 2;
}

.footer-bg::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(30, 55, 55, 0.98);
    z-index: -1;
}

/* =======================================col-4 start=============================================== */
.footer-logo {
    padding-bottom: 30px;
}

.footer-text {
    font-size: 14px;
    color: #8b9e9e;
    font-weight: 400;
    line-height: 28px;
}

.mail-phone {
    padding-top: 10px;
}

.footer-email {
    display: flex;
    align-items: center;
}

.footer-icon i {
    color: #fd753f;
}

a {
    color: #8b9e9e;
    text-decoration: none;
}

.footer-mail {
    margin-left: 15px;
    font-size: 15px;
    font-weight: 400;
}

.footer-no {
    margin-left: 15px;
    font-size: 15px;
    font-weight: 400;
}

.footer-phone {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.footer-p_icon i {
    color: #fd753f;
}

a {
    color: #8b9e9e;
    text-decoration: none;
}

/* ==================================col-4 End ============================== */

/* =============================col-2 Start ============================= */


.nav-title h4 {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.nav-title h4::after {
    content: "";
    height: 6px;
    width: 6px;
    background-color: #fd753f;
    display: inline-block;
    transform: translateY(-2px);
    margin-left: 10px;
    border-radius: 50px;
}

.nav-title {
    padding-bottom: 30px;
}

.footer_liste-control {
    list-style: none;
    padding-left: 0px;
    color: #8b9e9e;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.5;
}

/* =================================col-4 start  ============================ */

.footer_title {
    background-color: #294141;
    height: 90%;
}

.footer__tit h4 {
    font-size: 22px;
    font-weight: 800;
    color: #ffffff;
    padding: 26px;
}

.footer_control {
    padding-left: 26px;
}

/* =================================col-4 End ============================ */

.copyright-area {
    padding: 20px 0;
    background-color: #172c2d;
}

.copy_right {
    font-size: 16px;
    color: #8b9e9e;
    margin-top: 10px;
}

.copy__icon {
    display: flex;
    align-items: center;
    justify-content: end;
}

.copy_icon-end {
    display: flex;
    align-items: center;
    /* justify-content: flex-end;
    margin-right: 50px; */
}

.copy__icon i {
    height: 40px;
    width: 40px;
    background-color: #7083834a;
    border-radius: 50px;
    padding: 0;
    margin-left: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fd753f;
}

.copy_icon i:hover {
    background-color: #fd753f;
    color: #ffffff;
    transition: 0.5s;
}

/* button hover */
.btn-donate:hover {
    background-color: #022b29;
    color: #fff;
    transition: 0.5s
}

/* =============================================== Footer End ===================================== */

/* ====================================== Team-detail_area-start ===================================== */
.team-detail-area {
    padding-top: 55px;
}

.detail__img::after {
    content: "";
    z-index: -1;
    height: 94%;
    width: 65%;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: #fe7f4c;
}

.detail__img {
    position: relative;
    /* overflow: hidden; */
    /* display: flex; */
    align-items: center;
    justify-content: right;
    /* margin-left: 152px; */
}

.detail__img img {
    margin-left: 70px;
}

.detail-title p {
    font-size: 16px;
    font-weight: 700;
    color: #fe7f4c;
    text-transform: uppercase;
    padding-top: 110px;
}

.tit-sub-t {
    /* display: flex; */
    /* align-items: center; */
    padding-left: 85px;
}

.detail-title h4 {
    color: #1e3737;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 30px;
}

.detail-text p {
    color: #6e7a7a;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 20px;
}

.event_prograss {
    background-color: #f2f7f7;
    /* margin-right: 35px; */
    padding: 30px 48px;
}

.progress {
    display: flex;
    height: 10px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #ffffff;
    border-radius: .25rem;
}

.progress-bar {
    background-color: #07847f;
}

.prograss-count {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 14px;
    font-weight: 800;
    padding-bottom: 8px;
    color: #1e3737
}

.prograss_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* line-height: 38px; */
    padding-top: 8px;
}

.prograss_title b {
    font-weight: 800;
    color: #1e3737;
}

.prograss_title span {
    font-size: 14px;
    font-weight: 400;
}

/* --====================================== Team-detail_area-end ==================================== */

/* ==================================== funfact-area-start =================================== */

.funfact_area.funfact_bg {
    background-color: #f2f7f7;
}

.funfact_bg {
    padding-top: 120px;
    padding-bottom: 90px;
}

.funfact_icon {
    font-size: 50px;
}

.funfact_icon {
    font-size: 50px;
    background-color: #07847f;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.funfact_tit h4 {
    font-size: 50px;
    /* color: #1e3737; */
    font-weight: 800;
    color: rgb(7, 7, 7);
}

.fun_tit {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.funfact_icon:hover {
    background-color: #fd753f;
    transition: 0.3s;
}

.funfact_tit {
    padding-top: 8px;
}

/* ==================================== funfact-area-start =================================== */

/* =================================== register-area-start ================================== */
.register_area {
    padding: 115px 0px;
}

.reg-tit-sub p {
    color: #fd753f;
    font-size: 16px;
    font-weight: 700;
}

.reg-tit-sub h4 {
    font-size: 50px;
    font-weight: 800;
    color: #1e3737;
    padding-bottom: 40px;
}

.register-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.register-text p {
    line-height: 30px;
    padding-bottom: 25px;
}

.register_list {
    padding-bottom: 30px;
}

.register_list ul li i {
    padding-right: 20px;
    margin-left: -32px;
    color: #fe7f4c;
}

.register_list ul li {
    list-style: none;
    color: #1e3737;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 14px;
}

.register-contact {
    display: flex;
    align-items: center;
}

.reg_con {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    line-height: 35px;
}

.register-logo {
    height: 80px;
    width: 80px;
    background-color: #07847f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.register-logo i {
    font-size: 35px;
    color: #fff;

}

a.mail_to {
    color: #1e3737;
    font-size: 16px;
    font-weight: 700;
}

/* .input__box {
    display: flex;
    height: 100px;
    width: 100%;
} */

input[type="text"] {
    height: 60px;
    width: 100%;
    background-color: #f2f7f7;
    border: 0px;
    padding-left: 30px;
    font-size: 14px;
    color: #000000;
    outline: none;
}

.input__box input {
    margin-bottom: 20px;
}

.input__box.detailss textarea {
    height: 150px;
    resize: none;
    margin-bottom: 20px;
    background-color: #f2f7f7;
    width: 100%;
    padding: 30px;
    padding-top: 25px;
    font-size: 14px;
    color: #000000;
    border: 1px solid #00000000;
    transition: 0.3s;

}

/* =================================== register-area-end =================================== */


/* =================================== Gallery-area-start ================================== */

.gallery_area {
    padding: 100px 0px;
}

.gallery-card {
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.gallery-img {
    /* width: clamp(299px, 4.2vw, 400px); */
    position: relative;
    overflow: hidden;
}

.gallery-img img {
    width: 100%;
    height: 100%;
}

.gallery-img::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateY(-423px);
    background: rgb(30 55 55 / 80%);
    visibility: hidden;
    opacity: 0;
}

.gallery-img:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: 0.7s;
}

.hover_icon {
    height: 70px;
    width: 70px;
    background-color: #fd753f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0;
    transition: 0.5s;
}

.gallery-img:hover .hover_icon {
    opacity: 1;
    transition-delay: 0.3s;
}

.hover_icon::before {
    content: "";
    display: block;
    width: 2px;
    height: 60px;
    background-color: #fff;
    transform: rotate(221deg) translate(15px, 4px);
    top: 0%;
    right: 12%;
    position: absolute;
}

.hover_icon::after {
    content: "";
    display: inline-block;
    margin-right: 30px;
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(0) skew(-10deg, -10deg);
    top: -8%;
    right: -46%;
    position: absolute;
}

.main-pgi {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.main-pgi,
.page-link {
    color: black;
}

/* =================================== Gallery-area-end ==================================== */
/* =================================== Shop_start ==================================== */
.shop_area {
    padding: 100px 0px;
}

.shop-conte h4 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 2.85rem;
}

.seloctor-list,
.form-select-sm {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.tp-product__input {
    position: relative;
}

.src_area input[type="text"] {
    margin-top: 1.3rem;
    border: 1px solid #00000017;
    background: white;
}

.src_area {
    position: relative;
}

.src_area i.fa-solid.fa-magnifying-glass {
    position: absolute;
    top: 45px;
    right: 20px;
}

.shop-img img {
    height: 100%;
    width: 100%;
}

.shop-img {
    position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
}

.shop__sale {
    height: 30px;
    width: 50px;
    background-color: #07847f;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #fff;
}

.img_icon i {
    height: 30px;
    width: 33px;
    background: white;
    font-size: 20px;
    margin-left: 14px;
    opacity: 0;
    transform: translateY(76px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.img_icon {
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop_footer {
    padding: 24px;
    border: 1px solid #0000000d;
}

.shop-stars {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop-stars img {
    height: 100%;
    width: 32%;
}

.shop-stars p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

.shop_titlee h4 {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.shop-img:hover .img_icon i {
    opacity: 1;
    transition: 0.7s;
    visibility: visible;
    transform: translateY(0);
}

/* =================================== Shop-end ====================================== */
/* ===================================== Shop_details-start ===================================== */


.shop__area_shap {
    position: relative;
}

.shop_details_shap {
    position: absolute;
    bottom: 2%;
    left: 16%;
}

.shop-title h4 {
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.shop-count {
    display: flex;
    padding-top: 10px;
}

.shop-count p {
    padding-right: 30px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.shop-count span {
    font-size: 20px;
    font-weight: 600;
    color: #07847f;
}

.shop_review {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.shop_review img {
    width: 14%;
}

.shop_review p {
    margin: 0;
    padding-left: 15px;
    color: #000000;
}

.shop-check i {
    padding-right: 10px;
    padding-top: 14px;
    color: #07847f;
}

.shop-check span {
    color: #000;
    font-size: 17px;
}

.shop__text p {
    line-height: 2rem;
}

.shop_count_qua {
    display: flex;
    align-items: center;
}

.shop__quantity {
    border: 1px solid #e6e9e9;
    border-right: 0;
    width: 70px;
    height: 60px;
    position: relative;
}

.shop_cart_minus i {
    position: absolute;
    top: -1px;
    right: -29px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #e6e9e9;
    border-bottom: none;
    font-weight: 600;
    font-size: 12px;
    color: #1e3737;
}

.shop_cart_plus i {
    position: absolute;
    bottom: -1px;
    right: -29px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    color: #1e3737;
    border: 1px solid #e6e9e9;
}

.shop_count_qua span {
    margin-right: 20px;
    color: #1e3737;
    font-size: 18px;
    font-weight: 700;
}

.shop_qua {
    padding-top: 40px;
    padding-bottom: 40px;
}

.shop_button-con {
    display: flex;
    padding-top: 40px;
}

.shop-fist {
    padding-right: 19px;
}

.shop-sec button {
    background-color: #1e3737;
}

.shop-sec button:hover {
    background-color: #fe7f4c;
}

.shop-share-tit {
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.shop-share-tit h4 {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    padding-right: 20px;
}

.shop-share-tit i {
    padding-right: 15px;
    font-size: 15px;
    color: #000;
}



.shop_details_shap img {
    width: 30%;
}

.shop_det-sec,
.shop__area_shap {
    padding: 60px 15px;
}

.shop-shap img {
    width: 100%;
}

.shop_details_shap img {
    width: 30%;
}

/* ===================================== Shop_details-End  ===================================== */
/* ===================================== Shop_text-area-start  ===================================== */
.shop-heading h4 {
    font-size: 36px;
    font-weight: 800;
    color: #1e3737;
    padding-bottom: 20px;
}

.shop-main-text {
    background-color: #f2f7f7;
    padding: 60px;
    padding-bottom: 50px;
    margin-bottom: 70px;
}

.shop-heading p {
    color: #6e7a7a;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

.shop-sec-title h4 {
    font-size: 36px;
    color: #1e3737;
    font-weight: 800;
    padding: 40px 0px;
}

.shop_text-area {
    padding: 50px 0px;
}

.main-shop-aut {
    display: flex;
    align-items: center;
}

.shop-icon-aut {
    padding-right: 60px;
}

.shop-aut-text h4 {
    font-weight: 800;
    font-size: 20px;
    line-height: 1;
    color: #1e3737;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.shop-aut-text p {
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    line-height: 30px;
    color: #6e7a7a;
}

.shop-aut-text img {
    width: 20%;
}
.sho_botom-bor {
    border-bottom: 1px solid #00000012;
    padding-bottom: 40px;
    padding-top: 40px;
}
.shop_text-area-con textarea {
    width: 100%;
    font-size: 14px;
    color: #000000;
    outline: none;
    background: #f2f7f7;
    transition: 0.4s;
    border: 1px solid transparent;
    text-transform: capitalize;
    height: 175px;
    resize: none;
    padding: 30px;
    padding-top: 26px;
}
.shop_text-area-con {
    padding-bottom: 20px;
}
.postbox__star i.star-color {
    color: #ffdfd2;
}
.postbox__star i {
    color: #fe7f4c;
    padding-left: 2px;
}
.postbox__star span {
    font-size: 14px;
    color: #1e3737;
    margin-right: 15px;
}

.postbox__comment-input {
    padding-bottom: 20px;
}
.postbox__comment-btn.pt-35 {
    display: flex;
    align-items: center;
    padding: 30px 0px;
}

.postbox__comment-agree {
    padding-left: 40px;
}
/* ===================================== Shop_text-area-End  ===================================== */

/* ====================================== cart-area-Start ===================================== */

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    color: #000
  }
  tr th {
    width: 10%;
}
tr th {text-align: center;}

td {
    text-align: center;
}

.tp-quantity {
    width: 200px;
    margin: 0 auto;
}
.p-relative {
    position: relative;
}
.tp-quantity .cart-minus {
    height: 64px;
    width: 64px;
    text-align: center;
    line-height: 64px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.product-quantity input {
    color: #000;
    font-size: 14px;
    font-weight: normal;
    height: 64px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}
.tp-quantity .cart-plus {
    height: 64px;
    width: 64px;
    text-align: center;
    line-height: 64px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.tp-quantity input[type="text"] {
    height: 60px;
    width: 100%;
    background-color: #fff;
    border: 0px;
    font-size: 14px;
    color: #000000;
    outline: none;
    text-align: center;
    padding-left: 0px;
    border: 1px solid #00000017;
}
.redme input {
    width: 75%;
    background: #fff;
    border: 1px solid #0000001f;
    margin: 30px 0px;
}
.redme button {
    margin: 10px;
}
.cart__main-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.redme {
    display: flex;
    align-items: center;
}
.tools-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #0000001f;
    margin: 0px;
}

.tools-text p {
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
}

.cart_tools {
    padding: 30px;
    background: #03555e12;
    margin: 60px 0px;
}

.tools_he h4 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}
.tools_btn button {
    width: 100%;
    margin-top: 20px;
}
/* ====================================== cart-area-End ===================================== */
/* ====================================== checkout-area-start ===================================== */

.checkout-area{
    padding: 115px 0px;
}
.check-fist {
    border: 1px dotted black;
    width: 100%;
    margin-bottom: 20px;
}

.check-fist p {
    margin: 0;
    padding: 20px 30px;
    color: black;
}

.check-fist a {
    text-decoration: underline;
    color: #07847f;
}
.check_sec{
    padding: 45px 40px 24px;
    background-color:#f2f7f7;
}
.check_labe input {
    padding: 19px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #00000029;
    width: 100%;
}

.check_labe label {
    color: #000;
    padding-bottom: 5px;
    font-size: 14px;
}
label span {
    color: red;
}
.sec-head h4 {
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    padding-bottom: 10px;
}
.check-out_sec1 {
    padding-top: 20px;
}
.check_labe {
    padding: 6px 0px;
}
.check_labe, .form-select {
    padding: 1.1rem 2.25rem 1.1rem .75rem;
    border-radius: 0;
    color: #6e7a7a;
}
.tp-checkout-option-wrapper {
    padding: 1.1rem 2.25rem 1.1rem .75rem;
}
.tp-checkout-option {
    margin-bottom: 4px;
}
.tp-checkout-option input {
    display: none;
    outline: none;
    color: #07847f;
}
.tp-checkout-option label {
    font-size: 15px;
    color: #55585B;
    position: relative;
    padding-left: 26px;
    z-index: 1;
}
.tp-checkout-option label::before {
    position: absolute;
    content: "\f00c";
    top: 5px;
    left: 5px;
    font-size: 10px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    color: #ffffff;
    transition: 0.3s;
    font-family: "Font Awesome 5 Pro";
}
.tp-checkout-option label::after {
    position: absolute;
    content: "";
    top: 1px;
    left: 0;
    width: 18px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    border: 1px solid rgba(6, 7, 40, 0.2);
    z-index: -1;
    transition: 0.3s;
}
.tp-checkout-option input:checked ~ label::after {
    background-color: #fe7f4c;
    border-color: #fe7f4c;
}
.check_labe textarea {
    height: 200px;
    resize: none;
    padding: 25px;
    font-size: 14px;
}
.check_labe input, .check_labe textarea{
    width: 100%;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #E0E2E3;
}
.title__chek {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #00000017;
}

.title__chek p {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.check_det {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid #0000001f;
}

.check_det p {
    margin: 0px;
    font-size: 14px;
    padding: 10px 0px;
}

.check_det span {
    color: #000;
    font-size: 14px;
}
.check__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 10px 0px;
}
.check__total p{
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.checK-total-radio a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding-left: 8px;
}
.checK-total-radio {
    padding: 6px 0px;
}
.check-btm {
    border-bottom: 1px solid #00000026;
    padding-bottom: 18px;
}
/* ====================================== checkout-area-End ======================================= */





















/* nav */




/* extra stying */
.main_icon {
    display: flex;
    justify-content: flex-end;
}

.nav_icon {
    display: flex;
    align-items: center;
}

/* ul.ul_list > li:not(:first-child) {
    padding-left: 3rem;
} */
ul.ul_list>li {
    padding-left: 3rem;
}

.closeicon {
    display: none;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: 2rem;
}

.closeicon>span {
    height: 50px;
    width: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.closeicon>span>img {
    height: 30px;
    width: 30px;
    transition: fillter 0.5s;
}

.closeicon>span:hover img {
    filter: brightness(0) saturate(100%) invert(89%) sepia(72%) saturate(5452%) hue-rotate(186deg) brightness(128%) contrast(100%);
}

.closeicon>span:hover {
    background-color: #111111;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transform: translateY(10px);
}

/* respnsive navbar */
.hamburger img {
    height: 40px;
    width: 40px;
    margin-left: 1rem;
}

.hamburger {
    display: none;
    align-items: center;
    justify-content: center;
}

/* Media Query++++++++++++++++++++++++++++++++++ #    max-width: 1399px    #+++++++++++++++++++++++++++++++++ */
@media screen and (max-width: 1399px) {
    .nav_icon i {
        padding-right: 16px;
    }

    ul.ul_list>li {
        padding-left: 2.4rem;
    }

    .sec-title h4 {
        font-size: 42px;
    }

    .sec-text p {
        line-height: 30px;
    }

    .deep {
        display: none;
    }

    h4.title-cta {
        font-size: 45px;
        padding-top: 26px;
        padding-bottom: 40px;
    }

    .card-inner::after {
        right: 5px;
    }

    .card-inner_2::after {
        right: 5px;
    }

    .container.event {
        max-width: 1140px;
    }

    .team_sub-tit h4 {
        font-size: 42px;
    }
}

/* Media Query++++++++++++++++++++++++++++++++++ #    max-width: 1199px    #+++++++++++++++++++++++++++++++++ */
@media screen and (max-width: 1199px) {

    /* navresposive */
    .hamburger {
        display: flex;
    }

    .nav_list {
        position: fixed;
        background: #fe7f4c;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 99999;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
    }

    ul.ul_list {
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: #fff;
    }

    .nav_list.showbar {
        opacity: 1;
        visibility: visible;
    }

    .closeicon {
        display: flex;

    }

    .nav_icon i {
        padding-right: 30px;
    }

    .breadcrumb_bg.background {
        background-position: bottom;
    }

    .about__1 img {
        max-width: 90%;
    }

    .about-2 img {
        /* position: absolute; */
        bottom: -88px;
        left: 113px;
        max-width: 17.4rem;
    }

    .about-thumb_border::after {
        bottom: -168px;
        left: -27px;
    }

    .about-thumb_border {
        height: 310px;
        bottom: 77px;
    }

    .event-sec {
        padding-left: 22px;
    }

    .sec-title h4 {
        font-size: 42px;
        padding-bottom: 30px;
    }

    .sec-text {
        padding-bottom: 20px;
        margin: 0px;
    }

    .sec-text p {
        font-size: 14px;
        line-height: 30px;
        font-weight: 500;
    }

    .deep {
        display: none;
    }

    h4.title-cta {
        font-size: 45px;
        padding-top: 19px;
        padding-bottom: 30px;
    }

    .cta-subtitle {
        font-size: 14px;
    }

    .\33 rd_card {
        display: none;
    }

    .container.event {
        max-width: 960px;
    }

}

/* Media Query++++++++++++++++++++++++++++++++++ #    max-width: 1199px    #+++++++++++++++++++++++++++++++++ */
@media screen and (max-width: 992px) {
    .map__locti {
        display: none;
    }
}

/* Media Query++++++++++++++++++++++++++++++++++ #    max-width: 767px    #+++++++++++++++++++++++++++++++++ */
@media screen and (max-width: 767px) {
    .map {
        display: none;
    }

    .tp_main_header {
        justify-content: center;
    }
}